aside .widget ul li a:hover,
aside .widget_rss cite,
h1>a:hover,
h2>a:hover,
h3>a:hover,
h4>a:hover,
h5>a:hover,
h6>a:hover,
mark.highlight,
#blog-entries article .entry-readmore:hover,
.single-post .nav-links>div a .nav-title:hover,
.shop-products .product_item .cl-price-button-switch a,
.single-post article .entry-content>a,
.breadcrumbss .page_parents li a:hover,
.ce-hudson-slider .all-works:hover{
	color: #ff6422!important;
}

:root{
	--codeless-primary-color:#ff6422!important;
} 

article.format-gallery .swiper-pagination-bullet-active,
.shop-products .product_item .onsale,
.cl-product-info .onsale,
.widget_product_categories ul li.current-cat>a:before,
.search__inner--down,
#blog-entries .grid_noimage-style:hover .divider {
	background-color: #ff6422;
}

{
	border-color: #ff6422;
}

.single-post .single-author>h6:before,
.single-post .entry-single-related>h6:before,
.single-post #comments .comments-title:before,
.single-post #reply-title:before,
.single-post .entry-single-tools .entry-single-tags a,
#respond.comment-respond .comment-form-comment textarea,
#respond.comment-respond input:not([type="submit"]),
aside .mc4wp-form-fields,
.elementor-widget-sidebar .mc4wp-form-fields {
	background-color: #eeeeee;
}

.single-post .entry-single-tools,
.widget_aboutme .wrapper,
main#main aside .widget_search input[type="search"],
main#main .elementor-widget-sidebar .widget_search input[type="search"] {
	border-color: #eeeeee;
}

article .entry-tools .codeless-count,
article.format-quote .entry-content .quote-entry-content p,
article.format-quote .entry-content .quote-entry-content a,
aside .widget ul li a,
.cl-pagination a,
.cl-pagination span.current,
.cl-pagination-jump a,
.cl_progress_bar .labels {
	color: #000000!important;
}

body {
	background-position: left top;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-blend-mode: normal;
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-ms-background-size: auto;
	-o-background-size: auto;
	background-size: auto;
}

html,
body,
.light-text .breadcrumbss .page_parents {
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	text-transform: none;
	color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.category-colored,
.tagcloud a,
.cl-pagination,
.woocommerce ul.products li.product .cl-woo-product__title-wrapper .price,
.woocommerce div.product .summary .price,
.cl_counter,
.cl_testimonial_1,
.cl_slider_1 .title-wrapper .slide-title a,
.elementor-counter .elementor-counter-number-wrapper,
.elementor-counter .elementor-counter-title,
.ce-post-navigation .item-title {
	font-family: DM Sans;
}

h1:not(.custom_font),
.h1 {
	font-size: 48px;
	line-height: 60px;
	text-transform: none;
	font-weight: 400;
	letter-spacing: 0px;
	color: #000000;
}

.light-text h1:not(.custom_font),
.light-text .h1 {
	color: #ffffff !important;
}

h2:not(.custom_font),
.h2 {
	font-size: 36px;
	line-height: 42px;
	text-transform: none;
	font-weight: 400;
	letter-spacing: 0px;
	color: #000000;
}

.light-text h2:not(.custom_font),
.light-text .h2 {
	color: #ffffff !important;
}

h3:not(.custom_font),
.h3 {
	font-size: 24px;
	line-height: 36px;
	text-transform: none;
	font-weight: 400;
	letter-spacing: 0px;
	color: #000000;
}

.light-text h3:not(.custom_font),
.light-text .h3 {
	color: #ffffff !important;
}

h4:not(.custom_font),
.h4 {
	font-size: 20px;
	line-height: 28px;
	text-transform: none;
	font-weight: 400;
	letter-spacing: 0px;
	color: #000000;
}

.light-text h4:not(.custom_font),
.light-text .h4 {
	color: #ffffff !important;
}

h5:not(.custom_font),
.h5 {
	font-size: 18px;
	line-height: 28px;
	text-transform: none;
	font-weight: 400;
	letter-spacing: 0px;
	color: #000000;
}

.light-text h5:not(.custom_font),
.light-text .h5 {
	color: #ffffff !important;
}

h6:not(.custom_font),
.h6 {
	font-size: 12px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3.2px;
	color: #000000;
}

.light-text h6:not(.custom_font),
.light-text .h6 {
	color: #ffffff !important;
}

article.hentry h2.entry-title {
	font-family: butler;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0em;
    line-height: 42px;
    text-transform: none;
    color: #000000;
}

.single-post .cl-post-header h1 {
	font-family: butler;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 72px;
    text-transform: none;
    color: #000000;
}

article .entry-overlay-color .entry-overlay,
article .entry-overlay-zoom_color .entry-overlay {
	background-color: rgba(0, 0, 0, 0.2);
}

#respond.comment-respond .comment-form-comment textarea,
#respond.comment-respond input:not([type="submit"]) {
	background-color: #eeeeee;
}

.single-author>h6,
.entry-single-related>h6,
.single-post #comments .comments-title,
.single-post #reply-title {
	font-family: DM Sans;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.2em;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
}

aside .widget-title,
.elementor-widget-sidebar .widget-title {
	font-family: DM Sans;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #000;
}

aside .widget,
.elementor-widget-sidebar .widget {
	padding-top: 30px;
	padding-bottom: 30px;
}

aside .widget_search input[type="search"] {
	background-color: #ffffff;
}

.ce-page-header {
	background-color: #eeeeee;
	color: #000;
}

.inner-content-row,
.single_blog_style-classic.cl-layout-fullwidth {
	padding-top: 120px;
}

.inner-content-row {
	padding-bottom: 120px;
}

article.post h1.entry-title {
	margin-top: 0px;
	margin-bottom: 40px;
}

@media (min-width: 1200px) {
	.container {
		width: 1100px;
	}
}

@media (min-width: 992px) {
	.single-post .cl-layout-fullwidth .inner-content.container,
	.single-post .cl-layout-fullwidth .cl-post-header .container {
		width: 770px;
	}
}


@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 300;
	font-display: swap;
	src: url("fonts/inter/Inter-Light-BETA.woff2?v=3.11") format("woff2"),
		 url("fonts/inter/Inter-Light-BETA.woff?v=3.11") format("woff");
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 400;
	font-display: swap;
	src: url("fonts/inter/Inter-Regular.woff2?v=3.11") format("woff2"),
		 url("fonts/inter/Inter-Regular.woff?v=3.11") format("woff");
  }
  @font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 400;
	font-display: swap;
	src: url("fonts/inter/Inter-Italic.woff2?v=3.11") format("woff2"),
		 url("fonts/inter/Inter-Italic.woff?v=3.11") format("woff");
  }
  
  @font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 500;
	font-display: swap;
	src: url("fonts/inter/Inter-Medium.woff2?v=3.11") format("woff2"),
		 url("fonts/inter/Inter-Medium.woff?v=3.11") format("woff");
  }
  @font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 500;
	font-display: swap;
	src: url("fonts/inter/Inter-MediumItalic.woff2?v=3.11") format("woff2"),
		 url("fonts/inter/Inter-MediumItalic.woff?v=3.11") format("woff");
  }
  
  @font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 600;
	font-display: swap;
	src: url("fonts/inter/Inter-SemiBold.woff2?v=3.11") format("woff2"),
		 url("fonts/inter/Inter-SemiBold.woff?v=3.11") format("woff");
  }
  @font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 600;
	font-display: swap;
	src: url("fonts/inter/Inter-SemiBoldItalic.woff2?v=3.11") format("woff2"),
		 url("fonts/inter/Inter-SemiBoldItalic.woff?v=3.11") format("woff");
  }

/* latin-ext */
@font-face {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('DM Sans Regular'), local('DMSans-Regular'), url(https://fonts.gstatic.com/s/dmsans/v5/rP2Hp2ywxg089UriCZ2IHTWEBlwu8Q.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('DM Sans Regular'), local('DMSans-Regular'), url(https://fonts.gstatic.com/s/dmsans/v5/rP2Hp2ywxg089UriCZOIHTWEBlw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('DM Sans Medium'), local('DMSans-Medium'), url(https://fonts.gstatic.com/s/dmsans/v5/rP2Cp2ywxg089UriAWCrCBamC3YU-CnE6Q.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local('DM Sans Medium'), local('DMSans-Medium'), url(https://fonts.gstatic.com/s/dmsans/v5/rP2Cp2ywxg089UriAWCrCBimC3YU-Ck.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('DM Sans Bold'), local('DMSans-Bold'), url(https://fonts.gstatic.com/s/dmsans/v5/rP2Cp2ywxg089UriASitCBamC3YU-CnE6Q.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('DM Sans Bold'), local('DMSans-Bold'), url(https://fonts.gstatic.com/s/dmsans/v5/rP2Cp2ywxg089UriASitCBimC3YU-Ck.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

aside .widget_categories select, aside .widget_archive select, .elementor-widget-sidebar .widget_categories select, .elementor-widget-sidebar .widget_archive select,
.widget_text form select{
	border-color:#e1e1e1;
}

article.default-style .entry-footer{ justify-content: flex-end; }
article.default-style .post-thumbnail{ display:inline-block; }