/*
Theme Name: Remake
Description: Remake is a Professional, Multi-Layout & Minimal creative WordPress Theme
Version: 1.0.6
Author: Codeless
Author URI: https://codeless.co
License URI: http://www.gnu.org/licenses/gpl-2.0.html 
License: GNU General Public License
Theme URI: https://remake.codeless.co/
Text Domain: codeless
Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, flexible-header, custom-colors, full-width-template
*/

/*-----------------------------------------------------------------------------------

[Table of contents]

Base WP
  .Base
  .Search Page
  .404

Typography
Layout
Header 
  .Menu
  .subMenu Tools
  .Responsive Menu
  .Logo
  .Header Layouts
  .Menu Styles

Blog
  .Post Slider
  .Entry Share Buttons
  .Blog Default Style
  .Blog Alternate
  .Blog Minimal
  .Blog Timeline
  .Blog Grid
  .Blog Masonry
  .Single Blog
  .Overlays

Buttons
  .Layouts
  .Styles

Sidebar
Filters
Paginations
Inputs / Forms
Footer
Copyright
Custom Widgets
Custom Shortcodes
Table Styles
Lazyload

  

-----------------------------------------------------------------------------------*/
/** 
 *  ------------------------- BASE WP -------------------------
 *  -----------------------------------------------------------
 */

html {
    overflow-x: hidden;
}
body {
    margin-right: 0 !important;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    cursor: pointer;
}
mark.highlight {
    background: transparent;
}
select{
    max-width:100%;
}
.wp-caption {
    max-width: 100%;
}
.wp-caption-text {
    margin:10px 0;
    text-align: center;
    font-size:14px;
    font-style:italic;
} 

.wp-caption.aligncenter{
    margin-left:auto;
    margin-right:auto;
}

.content-col > h1:not(.page-title), .content-col > h2, .content-col > h3, .content-col > h4, .content-col > h5, .content-col > h6 {
    margin: 1.414em 0 0.5em; 
}

.content-col > p {
    margin-bottom: 1.3em; 
    margin-top:0; 
}

/* WP Defaults */
.gallery:after {
    content: "";
    display: table;
    clear: both;
  }
  
  img.aligncenter, div.aligncenter, figure.aligncenter {
    display: block;
    margin: 0em auto;
  }
  
  img.wp-post-image {
    display: block;
    margin: 0em auto;
  }
  img.alignright {
    float: right;
    margin: 1em 0 1em 2em;
  }
  
  div.alignright, figure.alignright {
    float: right;
    margin: 1em 0 1em 2em;
  }
  
  img.alignleft, div.alignleft, figure.alignleft, img.wp-post-image.attachment-thumb {
    float: left;
    margin: 1em 1em 2em 0;
  }
  
  figure:not(.woocommerce-product-gallery__wrapper) {
    max-width: 100%;
    height: auto;
    margin: 2em 0;
  }
  
  p img.alignright, p img.alignleft {
    margin-top: 4px;
  }
  
  .gallery figure {
    float: left;
    margin: 0 2% 0.5em 0;
  }
  .gallery figure img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  .gallery.gallery-columns-1 figure {
    width: 100%;
    margin: 0 0 1em 0;
    float: none;
  }
  .gallery.gallery-columns-3 figure {
    width: 32%;
  }
  .gallery.gallery-columns-3 figure:nth-of-type(3n+3) {
    margin-right: 0;
  }
  .gallery.gallery-columns-3 figure:nth-of-type(3n+4) {
    clear: left;
  }
  .gallery.gallery-columns-2 figure {
    width: 49%;
  }
  .gallery.gallery-columns-2 figure:nth-of-type(even) {
    margin-right: 0;
  }
  .gallery.gallery-columns-2 figure:nth-of-type(odd) {
    clear: left;
  }
  .gallery.gallery-columns-4 figure {
    width: 23.25%;
  }
  .gallery.gallery-columns-4 figure:nth-of-type(4n+4) {
    margin-right: 0;
  }
  .gallery.gallery-columns-4 figure:nth-of-type(4n+5) {
    clear: left;
  }
  .gallery.gallery-columns-5 figure {
    width: 18%;
  }
  .gallery.gallery-columns-5 figure:nth-of-type(5n+5) {
    margin-right: 0;
  }
  .gallery.gallery-columns-5 figure:nth-of-type(5n+6) {
    clear: left;
  }
  .gallery.gallery-columns-6 figure {
    width: 14.2%;
  }
  .gallery.gallery-columns-6 figure:nth-of-type(6n+6) {
    margin-right: 0;
  }
  .gallery.gallery-columns-6 figure:nth-of-type(6n+7) {
    clear: left;
  }
  .gallery.gallery-columns-7 figure {
    width: 12%;
  }
  .gallery.gallery-columns-7 figure:nth-of-type(7n+7) {
    margin-right: 0;
  }
  .gallery.gallery-columns-7 figure:nth-of-type(7n+8) {
    clear: left;
  }
  .gallery.gallery-columns-8 figure {
    width: 10.2%;
  }
  .gallery.gallery-columns-8 figure:nth-of-type(8n+8) {
    margin-right: 0;
  }
  .gallery.gallery-columns-8 figure:nth-of-type(8n+9) {
    clear: left;
  }
  .gallery.gallery-columns-9 figure {
    width: 8.85%;
  }
  .gallery.gallery-columns-9 figure:nth-of-type(9n+9) {
    margin-right: 0;
  }
  .gallery.gallery-columns-9 figure:nth-of-type(9n+10) {
    clear: left;
  }
  
  @media (max-width: 767px) {
    img.alignright, div.alignright, figure.alignright, img.alignleft, div.alignleft, figure.alignleft, img.wp-post-image.attachment-thumb {
      display: block;
      margin: 1em auto;
      float: none;
    }
  
    .gallery.gallery-columns-4 figure, .gallery.gallery-columns-5 figure, .gallery.gallery-columns-6 figure, .gallery.gallery-columns-7 figure, .gallery.gallery-columns-8 figure, .gallery.gallery-columns-9 figure {
      width: 100%;
      margin: 0 0 1em 0;
      float: none;
    }
  }

.wp-caption-text,
.gallery-caption,
.entry-caption {
    line-height: 1.5em;
}

.bypostauthor{
    display:block;
} 

.alignleft {
    float: left;
    padding-right: 20px;
}
.alignright {
    float: right;
    padding-left: 20px;
}
.aligncenter {
    display: block;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption {
    max-width: 100%;
    padding: 4px;
    float: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-top:20px;
    margin-bottom: 10px;
    float:left;
}
.wp-caption a {
    padding: 0px;
    padding-bottom: 0px;
}
.inner-content #comments{
    margin-top: 60px;
    clear:both;
}
.entry-content table, .content-col > table, .single-post .comment table {
    border-collapse: collapse;
    margin: 0 0 1.5em;
    width: 100%;
}

.entry-content thead th, .content-col > table thead th, .single-post .comment thead th {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 0.5em;
}

.entry-content th, .content-col > table th, .single-post .comment table th {
    padding: 0.59em;
    text-align: left;
}

.entry-content tr, .content-col > table tr, .single-post .comment table tr {
    border-bottom: 1px solid #e7e7e7;
}

.entry-content tr:last-child, .content-col > table tr:last-child, .single-post .comment table tr:last-child{
    border-bottom:none;
}

.entry-content td, .content-col > table td, .single-post .comment table td {
    padding: 0.59em;
    font-size:16px;
}

.entry-content dl dt, .single-post .comment dl dt{
    font-weight:600;
    margin-top:8px;
} 

.entry-content dl dt:first-child, .single-post .comment dl dt:first-child{
    margin-top:0px;
}

article.default-style .entry-overlay, article.default-style .entry-media{
    display:inline-block !important;
}

article.default-style .entry-overlay{
    height: calc(100% - 8px);
}

.entry-content th:first-child, .content-col > table th:first-child
.entry-content td:first-child, .content-col > table td:first-child,
.single-post .comment th:first-child, .single-post .comment td:first-child {
    padding-left: 0;
}

.entry-content th:last-child, .content-col > table th:last-child
.entry-content td:last-child, .content-col > table th:last-child,
.single-post .comment td:last-child, .single-post .comment table th:last-child {
    padding-right: 0;
}

.wp-caption.alignleft {
    margin-right: 20px;
    float:left;
}
.wp-caption.alignright {
    margin-left: 20px;
    float:right;
}
.wp-caption-text {
    padding-left: 7px;
    margin-bottom: 7px;
    padding-right:7px;
    text-align: center;
    font-size: 13px;
}
.wp-caption-text,
.gallery-caption,
.entry-caption {
    line-height: 1.5em;
}
img.wp-smiley,
.rsswidget img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
/* WP Quick Gallery*/

.entry-content dl.gallery-item {
    margin: 0;
}
.post-password-form input[type="password"] {
    background: #fff;
    height: 45px;
    width: 180px;
    border-width: 1px;
    border-style: solid;
    border-color:#e1e1e1;
}
.post-password-form input[type="submit"]{
    height: 45px;
    top: -1px;
    position: relative;
    font-size: 18px;
    background: #000;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}
article embed {
    max-width: 100%;
}
a {
    -webkit-transition: color 200ms cubic-bezier(0.780, 0.140, 0.20, 0.86), background-color 200ms cubic-bezier(0.780, 0.140, 0.20, 0.86);
    -moz-transition: color 200ms cubic-bezier(0.780, 0.140, 0.20, 0.86), background-color 200ms cubic-bezier(0.780, 0.140, 0.20, 0.86);
    -o-transition: color 200ms cubic-bezier(0.780, 0.140, 0.20, 0.86), background-color 200ms cubic-bezier(0.780, 0.140, 0.20, 0.86);
    transition: color 200ms cubic-bezier(0.780, 0.140, 0.20, 0.86), background-color 200ms cubic-bezier(0.780, 0.140, 0.20, 0.86);
}
a:hover {
    text-decoration: none;
}
.scrollup {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background-image: url('img/icon_top.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(34, 34, 34, 0.6);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.tp-caption a i {
    color: #fff !important;
}

.content-col > .page-title {
    margin-bottom: 60px;
}
input[type="search"] {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-appearance: none;
}
/* Search Page */

.content-col > .search-form {
    position: relative;
    display: inline;
}
.content-col > .search-form label {
    display: none;
}
.content-col > .search-form input[type="search"] {
    width: 100%;
    max-width: 650px;
    border-radius:4px;
    padding-left: 10px;
    height: 58px;
    background: #eee;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.content-col > .search-form i {
    position: absolute;
    right: 10px;
    top: 2px;
}
.content-col > .search__related {
    margin-top: 45px;
    pointer-events: auto;
}
.content-col > .search__related .search__col {
    padding-right: 20px;
}
.content-col > .search__related .search__col .widget-title {
    margin-bottom: 0.75em;
}
@media (max-width: 767px) {
    .content-col > .search__related {
        display: block !important;
        width: 100%;
    }
    .content-col > .search__related .search__col {
        margin-bottom: 30px;
    }
}
/* End Search Page */
/* 404 not found title */

h2.not-found-404 {
    width: 100%;
    text-align: left;
    font-size: 160px !important;
    color: #eee !important;
    line-height: 200px !important;
    margin-top:0;
    margin-bottom:0;
}
.error404 h1.page-title{
    margin-bottom:20px;
}
@media (min-width: 992px) {
    .cl-hide-not-mobile {
        display: none !important;
        visibility: hidden;
    }
}
@media (max-width: 991px) {
    .cl-hide-on-mobile {
        display: none !important;
        visibility: hidden;
    }


}
/** 
 *  ------------------------- END BASE WP -------------------------
 *  ---------------------------------------------------------------
 */
/** 
 *  ------------------------- TYPOGRAPHY -------------------------
 *  --------------------------------------------------------------
 */

body {
    line-height: 20px;
}
h1 {
    line-height: 46px;
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
h3 {
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
h4 {
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
h5 {
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
h6 {
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    color: inherit;
}

.single-post .entry-content h1, .single-post .entry-content h2, .single-post .entry-content h3, .single-post .entry-content h4,
.single-post .comment h1, .single-post .comment h2, .single-post .comment h3, .single-post .comment h4 {
    margin: 1.414em 0 0.5em;
}

.single-post .entry-content p, .single-post .comment p{
    margin-bottom: 1.5em;
}



/** 
 *  ------------------------- END TYPOGRAPHY -------------------------
 *  ------------------------------------------------------------------
 */
/** 
 *  ------------------------- LAYOUT -----------------------------
 *  --------------------------------------------------------------
 */
@media(min-width:1200px){
    .container{
        max-width:100%;
    }
}
#content {
    position: relative;
}
#content > p {
    margin: 0;
    padding: 0;
}
@media (min-width: 768px) {
    #content.cl-layout-modern .cl-layout-modern-bg {
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 0;
    }
    #content.cl-layout-modern.cl-layout-left_sidebar .cl-layout-modern-bg {
        left: 0;
    }
    #content.cl-layout-modern.cl-layout-left_sidebar .content-col {
        padding-left: 40px;
    }
    #content.cl-layout-modern.cl-layout-right_sidebar .cl-layout-modern-bg {
        right: 0;
    }
    #content.cl-layout-modern.cl-layout-right_sidebar .content-col {
        padding-right: 40px;
    }
}
@media (max-width: 767px) {
    #content.cl-layout-modern .cl-layout-modern-bg {
        display: none;
    }
}
#content .inner-content .inner-content-row .content-col .container-content {
    width: 100%;
}

/* Layout Bordered */
.cl-layout-bordered{
    padding: 20px;
}
.cl-layout-bordered > #wrapper{
    position:relative;
}
.cl-layout-bordered > #wrapper .header_container.cl-transparent{
    top:0 !important;
}
.cl-layout-border-container > div{
    position:fixed;
    z-index:99999;
    background:#fff;
}
.cl-layout-border-container > .top{
    width:100%;
    height:20px;
    top:0;
    left:0;
}
.cl-layout-border-container > .bottom{
    width:100%;
    height:20px;
    bottom:0;
    left:0;
}
.cl-layout-border-container > .left{
    width:20px;
    height:100%;
    top:0;
    left:0;
}
.cl-layout-border-container > .right{
    width:20px;
    height:100%;
    top:0;
    right:0;
}
/* Layout Bordered */

/* Boxed Layout */
.cl-boxed-layout{
    margin:0 auto;
}


/** 
 *  ------------------------- END LAYOUT -------------------------
 *  --------------------------------------------------------------
 */


@media (max-width: 340px) {
    .extra_tools_wrapper {
        display: none;
        visibility: hidden;
    }
}
/* Sub Menu for Tools */

@media (min-width: 992px) {
    .extra_tools_wrapper .tool {
        position: relative;
    }
    .extra_tools_wrapper .tool .cl-submenu {
        list-style: none;
        margin: 0 !important;
        display: none;
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 100%;
        left: 6px;
        z-index: 9999999;
        padding: 0px;
        -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        min-width: 20em;
        max-width: 20em;
        padding: 16px;
    }
    .extra_tools_wrapper .tool.showDropdown > .cl-submenu {
        display: block !important;
        visibility: visible !important;
    }
    .extra_tools_wrapper .tool.showDropdown.dropdownRightToLeft > .cl-submenu {
        left: auto;
        right: 0;
    }
    .tool .header_cart {
        width: 100%;
        line-height: 20px;
    }
}
.tool .tool-link {
    position: relative;
}
#site-header-cart .button.checkout {
    margin-left: 10px;
}
#site-header-cart ul {
    margin: 0;
    padding: 0;
    list-style: none
}
#site-header-cart ul li {
    padding-left: 25px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
#site-header-cart ul li .quantity{
    color:#999;
}
#site-header-cart ul li:last-child {
    margin-bottom: 0;
    border-bottom-width: 0;
}
#site-header-cart ul li .remove {
    position: absolute;
    left: 0px;
    top: 5px;
    color:#eee !important;
}
#site-header-cart ul li img {
    width: 32px;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
#site-header-cart ul li a:not(.remove) {
    width: 100%;
    display: block;
}
.tool .tool-link .cart-total {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -9px;
    left: auto;
    color: #fff;
    text-align: center;
    line-height: 16px;
    font-size: 11px;
}
.tool.search > i {
    cursor: pointer;
}
.tool.search.search-style-simple{
    min-width:60px;
    text-align:right;
}
.tool .header_search {
    line-height: 20px;
    width: 200px;
}
#site-header-search form {
    width: 100%;
    position: relative;
}
#site-header-search label {
    display: none;
}
#site-header-search input[type="search"] {
    height: 35px;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-width:1px;
    border-style:solid;
}
#site-header-search input[type="search"]:focus{
    border-color:#3a3a3a;
}
#site-header-search form i {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 12px;
}
@media (max-width: 991px) {
    #site-header-search,
    #site-header-cart {
        padding-left: 15px;
        padding-right: 15px;
    }
    #site-header-search form i {
        top: 5px !important;
    }
}
/* End Sub Menu for Tools */
/* -------------------------------- MOBILE MENU -------------------------- */

.cl-mobile-menu.menu-wrapper {
    display: none;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    justify-content: flex-start !important;
    padding:15px 30px;
}

.cl-mobile-menu-button span{
    background-color:#000 !important;
}

.cl-mobile-menu nav {
    overflow: hidden;
}
.cl-mobile-menu-button {
    display: none;
    position: relative;
    width: 24px;
    height: 16px;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    position: relative;
}
@media (max-width: 991px) {
    .header_container .header-row #navigation {
        display: none;
    }
    .cl-mobile-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width:100%;
    }
    .cl-mobile-menu .menu > ul > li {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left:15px;
        padding-right:15px;
    }
    .cl-mobile-menu .menu li a {
        width: 100%;
        display: block;
    }
    .cl-mobile-menu .menu li.hasSubMenu {
        cursor: pointer;
    }
    .cl-mobile-menu .menu .codeless_custom_menu_mega_menu > ul > li.hasSubMenu {
        position: relative;
    }
    .cl-mobile-menu .menu li.hasSubMenu > a:after {
        content: "\e842";
        font-family: "feather";
        font-style: normal;
        font-weight: normal;
        speak: none;
        position: absolute;
        font-size: 11px;
        right: 30px;
    }
    
    .cl-mobile-menu nav li.hasSubMenu.open > a:after{
        content: "\e845";
    }
  
    .cl-mobile-menu .hasSubMenu > ul {
        display: none;
        padding: 10px 15px;
    }
    .cl-mobile-menu .hasSubMenu > ul > li,
    .cl-mobile-menu .hasSubMenu > .codeless_custom_menu_mega_menu > ul > li {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .cl-mobile-menu-button {
        display: inline-block;
    }
    .cl-mobile-menu-button span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        border-radius: 4px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    .cl-mobile-menu-button span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .cl-mobile-menu-button span:nth-child(2) {
        top: 6px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .cl-mobile-menu-button span:nth-child(3) {
        top: 12px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .cl-mobile-menu-button.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -3px;
        left: 4px;
    }
    .cl-mobile-menu-button.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    .cl-mobile-menu-button.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 14px;
        left: 4px;
    }
}
/* -------------------------------- END MOBILE MENU ---------------------- */

.header_container * {
    box-sizing: border-box;
}

.header_container.header-left .header-el { width:auto; margin-left:auto; margin-right:auto}

.header_container .header-row-inner {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
    align-items: center;
}
.header-row .header-row-inner .c-left {
    justify-content: flex-start;
}
.header-row .header-row-inner .header-col {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    min-height: 100%;
    position: relative;
    flex-grow: 1;
    -webkit-box-align: center;
    -webkit-box-flex: 1;
}
.cl-header-forced-center .header-row.main .header-row-inner .header-col{
    width:100%;
}
.cl-header-forced-center .header-row.extra_row .header-row-inner .header-col{
    width:100%;
}

.cl-header-forced-center .header-row.main .header-row-inner .header-col.c-middle{
    width:200%;
}
.cl-header-forced-center .header-row.extra_row .header-row-inner .header-col.c-middle{
    width:200%;
}

.header-row .header-row-inner .c-right {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -webkit-box-pack: end; /* justify-content */
    border-right-width: 0;
}
.header-row .header-row-inner .c-middle {
    justify-content: center;
}
.header-col .header-el {
    position: relative;
    min-width: 24px;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.header-el .content {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    font-weight: bold;
    line-height: 40px;
}

/* Top Nav */
.top_nav.header-row{
    height:30px;
}
@media (max-width:991px){
    .top_nav.header-row{
        display:none;
    }
}
/* End Top Nav */

/* Logo  */

#logo.logo_font {
    float: left;
    height: 100%;
}
#logo img {
    height: 40px;
}
#logo img {
    max-width: none;
    top: 50%;
    position: relative;
}
#logo img.dark {
    display: block;
    visibility: visible;
}
#logo img.light {
    display: none;
    visibility: hidden;
}
.background--dark #logo img.light {
    display: block;
    visibility: visible;
}
.background--dark #logo img.dark {
    display: none;
    visibility: hidden;
}

@media( min-width:992px){
    .logo_ipad{
        display:none;
    }
}

@media( min-width:768px){
    .logo_iphone{
        display:none;
    }
}

@media( min-width:768px ) and (max-width:991px){
    #logo.is-responsive img:not(.logo_ipad) {
        display:none;
    }
}
@media(max-width:767px){
    #logo.is-responsive img:not(.logo_iphone) {
        display:none;
    }
}

@media (max-width:991px){
    .logo_font.cl-responsive_color_light{
        color:#fff !important;
    }
}
/* Logo End  */

@media (min-width:992px){
    /* Sticky */
    .cl-header-sticky{
        -webkit-transition: -webkit-transform .3s ease-in-out, opacity .15s ease-in-out;
        -moz-transition: -moz-transform .3s ease-in-out, opacity .15s ease-in-out;
        transition: transform .3s ease-in-out, opacity .15s ease-in-out;
    }

    .cl-header-sticky:not(.cl-transparent):not(.cl-actived-fullscreen-header){
        position:static;
        width:100%;
        top:0;
        z-index:99999;
    }

    .admin-bar .cl-header-sticky:not(.cl-transparent):not(.cl-actived-fullscreen-header){
        position:static;
        width:100%;
        top:32px;
        z-index:99999;
    }

    main#main{
        -webkit-transition: margin-top .3s ease-in-out, opacity .15s ease-in-out;
        -moz-transition: margin-top .3s ease-in-out, opacity .15s ease-in-out;
        transition: margin-top .3s ease-in-out, opacity .15s ease-in-out;
    }


    .cl-header-sticky-prepare:not(.cl-actived-fullscreen-header){
        transform:translateY(-100%);
        -webkit-transform:translateY(-100%);
        -moz-transform:translateY(-100%);
        position:absolute;

    }
    .cl-header-sticky-prepare .top_nav{
        display:none;
        visibility: hidden;
    }
    .cl-header-sticky-prepare.cl-header-top-nav-sticky .top_nav{
        display:block;
        visibility: visible;
    }
    .cl-header-sticky-ready:not(.cl-actived-fullscreen-header){
        position: fixed !important;
        background: #fff;
        top: 0;
        width: 100%;
        z-index: 99999;
    }

    .cl-header-sticky-ready.cl-header-sticky-shadow{
        box-shadow: 0 -11px 42px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 -11px 42px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 -11px 42px rgba(0, 0, 0, 0.1);
    }

    .cl-header-sticky-active:not(.cl-actived-fullscreen-header){
        transform:translateY(0%);
        -webkit-transform:translateY(0%);
        -moz-transform:translateY(0%);
    }
/* End Sticky */
}
@media (max-width:767px){
    .cl-header-sticky-mobile{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9999;
        background:#fff;
        box-shadow:1px 1px 18px rgba(0,0,0,0.15);
    }
    .cl-header-sticky-mobile .header-row-inner{
        background:#fff !important;
    }
    body.cl-with-sticky-mobile #main{
        padding-top:90px;
    }
}

.cl-header-side .container{
    max-width:100%;
}

/* ------------------------ Header Layouts --------------------------  */

.header_container {
    background-repeat: no-repeat;
    background-position: left top;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
}
.header_container > .main, .header_container > .top_nav, .header_container > .extra_row {
    background-repeat: no-repeat;
    background-position: left top;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
}
.header_container.boxed-style {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;

}
.header-layout-top #viewport {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.header_container:not(.header-left):not(.header-right):not(.menu-full-style) #navigation:not(.vertical-menu) nav .menu > li:last-child {
    padding-right: 0;
    margin-right: 0;
}

@media (min-width:992px){
    /* Top  */

    .header_container.header-top .header-el:last-child {
        margin-right: 0px !important;
    }
    .header_container.header-top .main {
        width: 100% !important;
    }
    .header_container.header-top.boxed-style {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        width: 1170px;
    }
    /* End Top  */
    /* Left */

    .header_container.header-left {
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        z-index:9999;
    }
    .header_container.header-left .logo_font{
        width:100%;
    }
    .header_container.header-left.boxed-style {
        position: fixed;
        height: auto;
    }
    .header_container.header-left .header-el:last-child {
        margin-bottom: 0px;
    }
    .header_container.header-left:not(.boxed-style) .header-row {
        height: 100% !important;
        line-height: inherit !important;
    }
    .header_container.header-left .header-row-inner {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }
    .header_container.header-left .header-col {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        flex-grow: 1;
        -webkit-flex-grow: 1;
        height: auto;
        min-height: 50px;
        width: 100%;
    }
  

    .header-left nav .menu>li>a {
        top: auto;
         margin-top: 0;
    }
    .header-left nav .menu li {
        float: left;
        width: 100%;
        height: auto;
    }
    .header_container.header-left #navigation {
        float: left;
        width: 100%;
    }
    .header-left nav .menu{
        width:100%;
    }
    .header-left nav .menu > li > a{
        width:100%;
        display:block;
    }

    .header-left .hasSubMenu > ul{
        left: 100% !important;
        top: 0 !important;
    }

    /* End Left  */
    /* Right */

    .header_container.header-right {
        position: fixed;
        height: 100%;
        top: 0;
        right: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .header_container.header-right .header-el:last-child {
        margin-bottom: 0px;
    }
    .header_container.header-right.boxed-style {
        position: fixed;
        height: auto;
        right: 0;
        left: auto;
    }
    .header_container.header-right .header-row {
        height: 100% !important;
        line-height: inherit !important;
    }
    .header_container.header-right .header-row-inner {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }
    .header_container.header-right .header-col {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        flex-grow: 1;
        -webkit-flex-grow: 1;
        height: auto;
        min-height: 50px;
        width: 100%;
    }
    .header_container.header-right .header-el {
        width: 100%;
    }

    .header-right nav .menu>li>a {
        top: auto;
        margin-top: 0;
    }
    .header-right nav .menu li {
        float: left;
        width: 100%;
        height: auto;
    }
    .header_container.header-right #navigation {
        float: left;
        width: 100%;
    }
    .header-right nav .menu{
        width:100%;
    }
    .header-right nav .menu > li > a{
        width:100%;
        display:block;
    }
}
/* End Right  */

.cl-header-side .container{
    max-width:100%;
}

/* responsive header */
@media (max-width:991px){
    .header_container > .main{
        height:90px;
        line-height:90px;
        padding:0 !important;
    }
    .header_container > .main .header-el{
        margin-right:40px;
    }
    .header_container > .main .header-el:last-child{
        margin-right:0 !important;
    }
    .cl-h-cl_header_logo{
        min-width:auto !important;
    }
    .cl-h-cl_divider{
        display:none !important;
    }
    .cl-header-light.cl-header-side .boxed-style .cl-mobile-menu-button span{
        background-color:#fff;
    }
    .header_container.boxed-style{
        width:100%;
    }
}

/* transparent header */

.header_container.cl-transparent {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
}
    /* Fix Header Transparent when logged in */
    
.admin-bar:not(.cl-offcanvas-menu-style) .header_container.cl-transparent, .admin-bar .header_container.cl-header-sticky-ready{
    top: 32px;
}


.admin-bar .header_container.cl-transparent {
    top: 46px;
}


    /* light header */
    
    .header_container.cl-header-light #logo .dark {
        display: none;
        visibility: hidden;
    }
    .header_container.cl-header-light #logo .light {
        display: block;
        visibility: visible;
    }
    .header_container.cl-header-light nav ul li a {
        color: rgba(255, 255, 255, 0.85);
    }
    .header_container.cl-header-light .extra_tools_wrapper .tool i {
        color: rgba(255, 255, 255, 0.85);
    }

    .header_container.cl-header-light .logo_font{
        color:rgba(255, 255, 255, 0.85) !important;
    }
    .header_container.cl-header-light .cl-text{
        color:rgba(255, 255, 255, 0.85)
    }
    .cl-header-light nav > ul > li a:hover,
    .cl-header-light nav > ul > li.current-menu-item > a:hover{
        color:#fff;
    }

    .header_container.cl-header-light .cl_socialicon:not(.round) > a > i{
        color:rgba(255, 255, 255, 0.85);
        -webkit-transition: color .15s ease-in-out;
        -moz-transition: color .15s ease-in-out;
        transition: color .15s ease-in-out;
    }
    .header_container.cl-header-light .cl_socialicon:not(.round)  > a:hover > i{
        color:#fff !important;
    }

/* ----------------------- End Header Layouts  -----------------------*/
/* ----------------------- Menu Styles -----------------------*/

@media (min-width: 992px) {
    .menu-with_shadow {
        -webkit-box-shadow: 0 3px 5px -6px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 3px 5px -6px rgba(0, 0, 0, 0.4);
        box-shadow: 0 3px 5px -6px rgba(0, 0, 0, 0.4);
    }
}
.header_container.menu-full-style .header-row #navigation {
    height: 100%;
}
.header_container.menu_style-border_top #navigation nav > ul > li,
.header_container.menu_style-border_bottom #navigation nav > ul > li,
.header_container.menu_style-border_left #navigation nav > ul > li,
.header_container.menu_style-border_right #navigation nav > ul > li {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: rgba(0, 0, 0, 0);
}
.header_container.menu-full-style #navigation nav > ul > li > a {} .header_container.menu_style-border_top.menu-text-style #navigation nav > ul > li > a,
.header_container.menu_style-border_bottom.menu-text-style #navigation nav > ul > li > a,
.header_container.menu_style-border_left.menu-text-style #navigation nav > ul > li > a,
.header_container.menu_style-border_right.menu-text-style #navigation nav > ul > li > a {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: rgba(0, 0, 0, 0);
}
.header_container.menu_style-border_left.menu-text-style #navigation nav > ul > li > a{
    padding-left: 10px;
}
.header_container.menu_style-border_right.menu-text-style #navigation nav > ul > li > a{
    padding-right: 10px;
}


.header_container.menu_style-background_color.menu-text-style #navigation nav > ul > li > a{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 8px;
}


.header_container.menu_style-border_effect #navigation nav > ul > li > a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: width .15s ease-in-out, background-color .15s ease-in-out;
    -moz-transition: width .15s ease-in-out, background-color .15s ease-in-out;
    transition: width .15s ease-in-out, background-color .15s ease-in-out;
}
.header_container.menu_style-border_effect #navigation nav > ul > li > a:hover:after,
.header_container.menu_style-border_effect #navigation nav > ul > li.current-menu-item > a:after {
    width: 100%;
}

.header_container.menu_style-border_effect_two #navigation nav > ul > li > a:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #999;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform .15s;
    transition: transform .15s;
    transition: transform .15s,-webkit-transform .15s;
}
.header_container.menu_style-border_effect_two #navigation nav > ul > li > a:hover:after,
.header_container.menu_style-border_effect_two #navigation nav > ul > li.current-menu-item > a:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
}
@media(min-width:992px){
    .header_container.cl-header-light.menu_style-border_effect_two #navigation nav > ul > li > a:hover:after,
    .header_container.cl-header-light.menu_style-border_effect_two #navigation nav > ul > li.current-menu-item > a:after{
        background-color:#fff !important;
    }
}

/* ----------------------- End Menu Styles -------------------*/
/* Header Tools  */

.extra_tools_wrapper {
    float: left;
    height: 100%;
}
.extra_tools_wrapper .tool {
    float: left;
    height: 100%;
    margin-left: 9px;
}
.extra_tools_wrapper .tool i {
    font-size: 17px;
    top: 0px;
    position: relative;
}
/* End Header Tools */

/* ----------------------------- Header Elements -------------------------------- */

/* ------------------ Menu ------------------ */



/** 
 *  ------------------------- BLOG -------------------------------
 *  --------------------------------------------------------------
 */

article p:first-child {
    margin-top: 0px;
}
article p:first-child:last-child {
    margin-bottom: 0px;
}
article:last-child {
    margin-bottom: 0px !important;
}
article iframe,
article video {
    width: 100%;
    border:none;
    box-shadow:none;
}


/* Post Slider  */
article.format-gallery .cl-post-swiper-slider .swiper-pagination-fraction{
    bottom: 60px;
    text-align: right;
    padding-right: 40px;
    color:#fff;
}
article.format-gallery .cl-post-swiper-slider img {
    width: 100%;
}
article.format-gallery .cl-post-slider-nav {
    background-color: rgb(0, 0, 0, 0);
    -webkit-transition: opacity.15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}
article.format-gallery .cl-post-slider-nav:hover {
    opacity: 0.68;
}
article.format-gallery .cl-post-swiper-slider .swiper-button-next {
    padding: 32px 21px;
    margin-top: -32px;
    right: 0;
}
article.format-gallery .cl-post-swiper-slider .swiper-button-prev {
    padding: 32px 21px;
    margin-top: -32px;
    left: 0;
}
/* ENTRY SHARE BUTTONS */

article .entry-tools .entry-tool-share {
    position: relative;
}
article .entry-tools .entry-tool-share .share-buttons {
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-in-out, -webkit-transform .25s cubic-bezier(.19, 1, .22, 1);
    -moz-transition: opacity 0.1s ease-in-out, -moz-transform .25s cubic-bezier(.19, 1, .22, 1);
    transition: opacity 0.1s ease-in-out, transform .25s cubic-bezier(.19, 1, .22, 1);
    -webkit-transform: translatey(-15px);
    -moz-transform: translatey(-15px);
    -ms-transform: translatey(-15px);
    transform: translatey(-15px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.08), 0 3px 6px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.08), 0 3px 6px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.08), 0 3px 6px rgba(0, 0, 0, 0.04);
    position: absolute;
    top: -80px;
    left: 0px;
    padding: 13px 9px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    z-index: 9999;
}
article .entry-tools .entry-tool-share .share-buttons a {
    width: 100%;
    float: left;
    text-align: center;
}
article .entry-tools .entry-tool-share .share-buttons i {
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    width: 100%;
    text-align: center;
}
article .entry-tools .entry-tool-share .share-buttons.hidden {
    display: none;
}
article .entry-tools .entry-tool-share .share-buttons.show {
    opacity: 1;
    -webkit-transform: translatey(0px);
    -moz-transform: translatey(0px);
    -ms-transform: translatey(0px);
    transform: translatey(0px);
}

article.hentry h2.entry-title{word-break: break-word;}

.blog-entries .format-gallery .entry-media{
    display:block;
}
.blog-entries .format-video .entry-media{
    display:block;
}

article .post-thumbnail > img{
    width:100%;
}


/* Default Style Quote */

article.format-quote .entry-content {
    position: relative;
}
article.format-quote .entry-content i {
    font-size: 48px;
    position: absolute;
    left: 0;
    bottom: 20px;
}
article.format-quote .entry-content .quote-entry-content {
    padding: 35px 75px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}
@media (max-width: 767px) {
    article.format-quote .entry-content .quote-entry-content {
        padding: 35px 42px;
    }
    article.format-quote .entry-content i {
        font-size: 34px;
    }
    article.format-quote .entry-content .quote-entry-content p,
    article.default-style.format-quote .entry-content .quote-entry-content a {
        font-size: 18px !important;
        line-height: 28px !important;
    }
}
article.format-quote .entry-content .quote-entry-content p,
article.default-style.format-quote .entry-content .quote-entry-content a {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
}
article.format-quote .entry-content .quote-entry-author {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    font-style: italic;
    position: absolute;
    right: 15px;
    bottom: 15px;
}


/* Overlays */

article .entry-media {
    position: relative;
}
article .entry-overlay {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.blog-entries article .entry-overlay i {
    color: #fff;
    width: 60px;
    text-align: center;
    line-height: 60px;
    height: 60px;
    position: absolute !important;
    left: 50%;
    margin-left: -30px;
    font-size: 32px;
    top: 50%;
    margin-top: -30px;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    opacity: 0;
    -webkit-transform: translatex(-20px);
    -moz-transform: translatex(-20px);
    -ms-transform: translatex(-20px);
    transform: translatex(-20px);
    -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform .25s cubic-bezier(.19, 1, .22, 1);
    -moz-transition: opacity 0.2s ease-in-out, -moz-transform .25s cubic-bezier(.19, 1, .22, 1);
    transition: opacity 0.2s ease-in-out, transform .25s cubic-bezier(.19, 1, .22, 1);
}
.blog-entries article .entry-media:hover .entry-overlay i {
    -webkit-transform: translatex(0px);
    -moz-transform: translatex(0px);
    -ms-transform: translatex(0px);
    transform: translatex(0px);
    opacity: 1;
}
/* Entry Overlay Color */

article .entry-overlay-color .entry-overlay {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform .25s cubic-bezier(.19, 1, .22, 1);
    -moz-transition: opacity 0.2s ease-in-out, -moz-transform .25s cubic-bezier(.19, 1, .22, 1);
    transition: opacity 0.2s ease-in-out, transform .25s cubic-bezier(.19, 1, .22, 1);
}
article .entry-overlay-color:hover .entry-overlay {
    opacity: 1;
}
/* Entry Overlay Zoom Color */

article .entry-overlay-zoom_color {
    overflow: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
article .entry-overlay-zoom_color .entry-overlay {
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-in-out, -webkit-transform .25s cubic-bezier(.19, 1, .22, 1);
    -moz-transition: opacity 0.1s ease-in-out, -moz-transform .25s cubic-bezier(.19, 1, .22, 1);
    transition: opacity 0.1s ease-in-out, transform .25s cubic-bezier(.19, 1, .22, 1);
}
article .entry-overlay-zoom_color:hover .entry-overlay {
    opacity: 1;
}
article .entry-overlay-zoom_color img {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
article .entry-overlay-zoom_color:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
/* Entry Overlay Grayscale */

article .entry-overlay-grayscale img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}
article .entry-overlay-grayscale:hover img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
article .entry-overlay-grayscale .entry-overlay {
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.42s ease-in-out;
    -moz-transition: background-color 0.42s ease-in-out;
    transition: background-color 0.42s ease-in-out;
}
article .entry-overlay-grayscale:hover .entry-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}
article .entry-overlay i.cl-icon-plus2 {
    font-size: 18px;
}
/* Entry Link  */

.entry-link,
.entry-lightbox {
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.entry-lightbox {
    z-index: 999999;
}
/* Twitter Status */

.twitter-tweet::shadow .EmbeddedTweet {
    max-width: 100% !important;
    width: 100% !important;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e1e1e1;
}
.blog-entries article .twitter-tweet {
    width: 100% !important;
}
@media (max-width: 768px) {
    .entry-video:first-child {
        min-height: 105px;
    }
}
/* Instagram */

.entry-video iframe {
    max-width: 100% !important;
    box-shadow: none !important;
}
/** 
 *  ------------------------- END BLOG -------------------------------
 *  ------------------------------------------------------------------
 */

/** 
 *  ------------------------- FILTERS ------------------------------------
 *  ----------------------------------------------------------------------
 */

.cl-filters {
    width: 100%;
    display: block;
}
.cl-filters.cl-filter-small {
    margin-bottom: 30px;
}



.cl-filters.cl-filter-small .selected {
    box-shadow: 0 9px 26px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 9px 26px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 9px 26px rgba(0, 0, 0, 0.05);
    background: #fff;
    color: #222;
    font-weight: bold;
}
.cl-filters.cl-filter-fullwidth {
    padding-top: 10px;
    padding-bottom: 10px;
}
.cl-filters.cl-filter-align-center .inner {
    text-align: center;
}
.cl-filters.cl-filter-align-left .inner {
    text-align: left;
    padding-left:20px;
}
.cl-filters.cl-filter-align-right .inner {
    text-align: right;
    padding-right:20px;
}
.cl-filters button {
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: none;
    padding: 5px 14px;
}
.cl-filters.cl-filter-fullwidth button {
    font-weight: 600;
    padding:5px 10px;
}
.cl-filters.cl-filter-fullwidth.cl-filter-color-dark button{
    color:#cecece;
}
.cl-filters.cl-filter-fullwidth.cl-filter-color-dark button:hover,
.cl-filters.cl-filter-fullwidth.cl-filter-color-dark button.selected {
    color: #fff;
}

.cl-filters.cl-filter-fullwidth.cl-filter-color-light button{
    color:#999;
}
.cl-filters.cl-filter-fullwidth.cl-filter-color-light button:hover,
.cl-filters.cl-filter-fullwidth.cl-filter-color-light button.selected {
    color: #222;
}

.cl-filters.centered .inner {
    text-align: center;
}

.cl-filters.cl-filter-fullwidth.with-shadow{
    -webkit-box-shadow: 0 14px 40px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 14px 40px rgba(0, 0, 0, 0.25);
    box-shadow: 0 14px 40px rgba(0, 0, 0, 0.25);
}

.cl-filters.cl-filter-fullwidth.sticky{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position:sticky;
    top:0;
    z-index:99999;
}
.admin-bar .cl-filters.cl-filter-fullwidth.sticky{
    top:31px;
}

.cl-blog-filter.cl-filter-fullwidth.cl-filter-color-dark{
    text-align:center;
}
/** 
 *  ------------------------- END FILTERS --------------------------------
 *  ----------------------------------------------------------------------
 */
/** 
 *  ------------------------- PAGINATION ------------------------------------
 *  -------------------------------------------------------------------------
 */

.page .page-links{width:100%; padding-top: 20px;clear:both;}
.cl-blog-pagination {
    display: block;
    margin-top: 100px;
}

.blog .cl-blog-pagination{  }

.cl-pagination {
    display: block;
    width: 100%;
    position: relative;
}
.cl-pagination ul {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}
.cl-pagination ul li {
    display: inline-block;
    line-height: 36px;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
.cl-pagination ul li:last-child {
    margin-right: 0px;
}
.cl-pagination-align-center{
    display: flex;
    justify-content: center;
}
.cl-pagination-align-right ul {
    float: right;
}
.cl-pagination a {
    font-size: 16px;
    float: left;
    text-align: center;
    width: 100%;
    font-weight: 500;
}
.cl-pagination span.dots {
    font-size: 16px;
    float: left;
    text-align: center;
    width: 100%;
    font-weight: 500;
}
.cl-pagination i{
    font-size:16px;
    line-height:36px;
}
.cl-pagination span.current {
    width: 100%;
    float: left;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border:1px solid #c4c4c4;
    font-size:16px;
    height:36px;
}
.cl-pagination-jump a {} .cl-pagination-jump > div a:hover {
    color: #fff;
}
.cl-pagination-jump > div > a {
    width: 130px;
    height: 50px;
    float: left;
    line-height: 50px;
    text-align: center;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    font-weight: bold;
}
.cl-pagination-jump .newer-posts {
    float: left;
}
.cl-pagination-jump .older-posts {
    float: right;
}
.cl-pagination-infinite .older-posts {
    visibility: hidden;
}
.cl-infinite-loader.hidden {
    display: none;
    visibility: hidden;
}
.cl-infinite-loader {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 2em auto;
    clear: both;
}
.cl-infinite-loader .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #1b1f21;
    position: absolute;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}
.cl-infinite-loader .dot1,
.cl-infinite-loader .dot2 {
    left: 0
}
.cl-infinite-loader .dot3 {
    left: 15px
}
.cl-infinite-loader .dot4 {
    left: 30px
}
.cl-infinite-loader .dot1 {
    -webkit-animation-name: reveal;
    animation-name: reveal
}
.cl-infinite-loader .dot2,
.cl-infinite-loader .dot3 {
    -webkit-animation-name: slide;
    animation-name: slide
}
.cl-infinite-loader .dot4 {
    -webkit-animation-name: reveal;
    animation-name: reveal;
    -webkit-animation-direction: reverse;
    animation-direction: reverse
}
@-webkit-keyframes reveal {
    from {
        -webkit-transform: scale(0.001);
        transform: scale(0.001)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes reveal {
    from {
        -webkit-transform: scale(0.001);
        transform: scale(0.001)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@-webkit-keyframes slide {
    to {
        -webkit-transform: translateX(15px);
        transform: translateX(15px)
    }
}
@keyframes slide {
    to {
        -webkit-transform: translateX(15px);
        transform: translateX(15px)
    }
}
.cl-infinite-loader.loadmore {
    bottom: 65px;
}
#infscr-loading img {
    display: none !important
}
#cl_load_more_btn {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    left: 50%;
    transform:translateX(-50%);
}
.cl-infinite-finished {
    display: block;
    text-align: center;
}
.timeline-entries .cl-infinite-loader {
    bottom: -25px;
}
.timeline-entries .cl-infinite-finished {
    bottom: -25px;
    position: absolute;
    left: 0;
    text-align: center;
    height: 16px;
    line-height: 16px;
    width: 100%;
}
/** 
 *  ------------------------- END PAGINATION --------------------------------
 *  -------------------------------------------------------------------------
 */
/** 
 *  ------------------------- INPUTS / FORMS --------------------------------
 *  -------------------------------------------------------------------------
 */

input,
textarea,
select,
.select2-choice {
    -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.025);
    -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.025);
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.025);
    border: none;
}
input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none !important;
}
/** 
 *  ------------------------- END INPUTS / FORMS --------------------------------
 *  -----------------------------------------------------------------------------
 */


/**
 * ----------------------- Shortcode Styling ----------------------
 * Dropcaps
 * BlockQuote
 *
 */

.dropcaps {
    position: relative;
    top: 2px;
    float: left;
    margin-right: 10px;
    padding: 0;
    line-height: 52px;
    color: #222;
    font-size: 60px;
    text-transform: uppercase;
}
blockquote {
    border-left: 0px solid #222;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/** 
 *  ------------------------- END Shortcode Styling ------------------------------------
 *  -------------------------------------------------------------------------
 */
/* Table Styles */

article table {
    border-collapse: collapse;
    margin: 0 0 1.5em;
    width: 100%;
}

article table thead th {
    border-bottom: 2px solid #bbb;
    padding-bottom: 0.5em;
}

article table th{
    padding: 0.4em;
    text-align: left;
}
article table tr{
    border-bottom: 1px solid #eee;
}

article table td{
    padding: 0.4em;
}

article table th:first-child,
article table td:first-child {
    padding-left: 0;
}

article td:last-child, article table th:last-child,
article table th:last-child {
    padding-right: 0;
}
/*  Loaders */

.cl-load-component .cl-loading {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: #fefefe;
}
body.cl-header-light .cl-loading {
    background: #303133 !important;
}
.cl-wait-for-load {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.cl-wait-for-load[data-delay="1"] {
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.cl-wait-for-load[data-delay="2"] {
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}
.cl-loaded-component .cl-wait-for-load {
    opacity: 1 !important;
}
.cl-carousel-items-wrapper {
    margin-left: -15px;
    margin-right: -15px;
}
/* Lazyload */
/* Sets a min-height to all images
so that they occupy some space
before they are loaded */

img.lazyload {
    display: block;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

img.lazyload:not([src]){
    opacity:0;
}

img.lazyload:not([data-original]) {
    visibility: hidden;
}
/* Fixes Firefox anomaly */

@-moz-document url-prefix() {
    img.lazyload:-moz-loading {
        visibility: hidden;
    }
}


/** Styling Portfolio Navigation **/

.portfolio_navigation{ 
    font-size: 15px;
    z-index: 99999;
    position: absolute;
    right: 0;
}

.portfolio_navigation  .portfolio_single_left{
    position: fixed;
    right: 0;
    top: 150px;
    border: 1px solid #ebebeb;
    z-index: 999;
    padding: 7px 15px;
    background: #fff;
    color:#222;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

  }

.portfolio_navigation  .portfolio_single_right{

    position: fixed;
    top: 193px;
    right: 0;
    border: 1px solid #ebebeb;
    z-index: 999;
    padding: 7px 15px;
    background: #fff;
    color:#222;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

  }

.portfolio_navigation  .portfolio_single_left:hover, .portfolio_navigation  .portfolio_single_right:hover{color:#fff;}

.portfolio_navigation span {
    font-size: 13px;
    padding: 6px 14px 6px 14px;
    position: absolute;
    margin-right: 12px;
    color: #777777;
    background-color: #fff;
    display: inline-block;
    right: 100%;
    top: 0px;
    border-radius: 3px;
    font-weight: 500;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
    -webkit-box-shadow: -10px 0px 25px -1px rgba(0,0,0,0.05);
    -moz-box-shadow: -10px 0px 25px -1px rgba(0,0,0,0.05);
    box-shadow: -10px 0px 25px -1px rgba(0,0,0,0.05);
}

.portfolio_navigation span:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: 50%;
    right: -4px;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #fff;
    color: #fff;
}

.portfolio_single_right:hover  span, .portfolio_single_left:hover  span{

    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

  } 


/* Codeless Slier Custom Animations */

/*****************************************/
/* Soft Scale */
/*****************************************/

.cl_slider[data-effect="softscale"] .navOutNext {
    -webkit-animation: scaleUp 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
    animation: scaleUp 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
}

.cl_slider[data-effect="softscale"] .navInNext {
    -webkit-animation: scaleDownUp 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
    animation: scaleDownUp 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
}

.cl_slider[data-effect="softscale"] .navOutPrev {
    -webkit-animation: scaleDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
    animation: scaleDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
}

.cl_slider[data-effect="softscale"] .navInPrev {
    -webkit-animation: scaleUpDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
    animation: scaleUpDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
}
.cl_slider[data-effect="softscale"] .cl-current{
    z-index:1000;
    opacity:1;
}
.cl_slider[data-effect="softscale"] .swiper-slide{
    z-index:999;
    position:absolute;
    left:0;
    top:0;
}

.cl_slider[data-effect="softscale"] .cl-row{
    opacity:0;
}
.cl_slider[data-effect="softscale"] .cl-row.navOutNext, 
.cl_slider[data-effect="softscale"] .cl-row.navOutPrev,
.cl_slider[data-effect="softscale"] .cl-row.navInNext,
.cl_slider[data-effect="softscale"] .cl-row.navInPrev{
    opacity:1;
}

.cl_slider[data-effect="softscale"] .swiper-slide-active .cl-row{
    z-index:1000;
    opacity:1;
}
@-webkit-keyframes scaleUp {
    from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
    to {
        -webkit-transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes scaleUp {
    from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }
}

@-webkit-keyframes scaleDownUp {
    from {
        opacity: 0;
        -webkit-transform: scale(0.9);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@keyframes scaleDownUp {
    from {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes scaleDown {
    from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
    to {
        opacity: 0;
        -webkit-transform: scale(0.9);
    }
}

@keyframes scaleDown {
    from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
    to {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@-webkit-keyframes scaleUpDown {
    from {
        -webkit-transform: scale(1.2);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@keyframes scaleUpDown {
    from {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/*  --------------------- Codeless Slider Slide Intro Animations ------------------------------ */
@media (min-width:767px){
    /* Cinemagraphs 1 */
    .cl-slide.animation--cinemagraphs_first.start_animation .bg-layer{
        -webkit-animation-name: cinemagraphs_first;
        animation-name: cinemagraphs_first;
    }
    .cl-slide.animation--cinemagraphs_first .bg-layer{
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-timing-function: cubic-bezier(0,0,0,.93);
        animation-timing-function: cubic-bezier(0,0,0,.93);
        will-change: transform;
        -webkit-transform: scale(1.05) translate3d(-30px, 0, 0);
        transform: scale(1.05) translate3d(-30px, 0, 0)
    }

    @-webkit-keyframes cinemagraphs_first {
        from {
            -webkit-transform: scale(1.05) translate3d(-30px, 0, 0);
            transform: scale(1.05) translate3d(-30px, 0, 0)
        }
        to {
            -webkit-transform: scale(1) translate3d(0, 0, 0);
            transform: scale(1) translate3d(0, 0, 0)
        }
    }
    @keyframes cinemagraphs_first {
        from {
            -webkit-transform: scale(1.05) translate3d(-30px, 0, 0);
            transform: scale(1.05) translate3d(-30px, 0, 0)
        }
        to {
            -webkit-transform: scale(1) translate3d(0, 0, 0);
            transform: scale(1) translate3d(0, 0, 0)
        }
    }


    .cl-slide.animation--cinemagraphs_two.start_animation .bg-layer{
        -webkit-animation-name: cinemagraphs_two;
        animation-name: cinemagraphs_two;
    }
    .cl-slide.animation--cinemagraphs_two .bg-layer{
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-timing-function: cubic-bezier(0,0,0,.93);
        animation-timing-function: cubic-bezier(0,0,0,.93);
        will-change: transform;
        -webkit-transform:scale(1.1) translateX(0);
        transform:scale(1.1) translateX(0)
    }

    @-webkit-keyframes cinemagraphs_two {
        from {
            -webkit-transform:scale(1.1) translateX(0);
            transform:scale(1.1) translateX(0)
        }
        to {
            -webkit-transform:scale(1.15) translateX(-40px);
            transform:scale(1.15) translateX(-40px)
        }
    }
    @keyframes cinemagraphs_two {
        from {
            -webkit-transform:scale(1.1) translateX(0);
            transform:scale(1.1) translateX(0)
        }
        to {
            -webkit-transform:scale(1.15) translateX(-40px);
            transform:scale(1.15) translateX(-40px)
        }
    }
}


/* Slider Scroll SVG */
@media (min-width:992px){
    .mouse-wrap{
      display:inline-block;
      position:absolute;
      left:50%;
      bottom:100px;
      transform:translate(-50%,-50%);
    }

    .mouse-wrap .mouse {
      top:0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 48px;
      animation: nudgeMouse 5.5s ease-out infinite;
    }

    .mouse-wrap .mouse:after {
      content: '';
      background-color: #ffffff;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      animation: trackBallSlide 5.5s linear infinite;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      transform:translateY(20px);
    }

    .mouse-wrap .mouse .frame {
      width: 100%;
      position: absolute;
      z-index: 1;
    }

    .mouse-wrap .mouse .frame path {
      fill: none;
      stroke: #ffffff;
      stroke-width: 3;
      opacity:0.5;
    }

    .mouse-wrap .mouse .mouse-left,
    .mouse-wrap .mouse .mouse-right {
      width: 50%;
      position: absolute;
      z-index: 2;
    }

    .mouse-wrap .mouse .mouse-right {
      right: 0;
    }

    .mouse-wrap .mouse .Animate-Draw {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 3;
      fill-opacity: 1;
    }

    .mouse-wrap .mouse .mouse-left .Animate-Draw {
      animation: DrawLine 5.5s ease-out infinite;
    }

    .mouse-wrap .mouse .mouse-right .Animate-Draw {
      animation: DrawLineBack 5.5s ease-out infinite;
    }
}
/*Keyframes*/

@keyframes DrawLine {
  0% {
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  22% {
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  38%{
    stroke-dashOffset: 125;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  38.1%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:0;
  }
  48%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  64%{
    stroke-dashOffset: 125;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  64.1%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:0;
  }
  74%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  90%{
    stroke-opacity:1;
    stroke-dashOffset: 125;
    stroke-dasharray: 120;
  }
  90.1%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:0;
  }
}

@keyframes DrawLineBack {
  0% {
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  22% {
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  38%{
    stroke-dashOffset: -114;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  38.1%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:0;
  }
  48%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  64%{
    stroke-dashOffset: -114;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  64.1%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:0;
  }
  74%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:1;
  }
  90%{
    stroke-opacity:1;
    stroke-dashOffset: -114;
    stroke-dasharray: 120;
  }
  90.1%{
    stroke-dashOffset: 0;
    stroke-dasharray: 120;
    stroke-opacity:0;
  }
}

@keyframes nudgeMouse {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  22% {
    transform: translateY(0px) translateX(-50%);
  }
  38%{
    transform: translateY(9px) translateX(-50%);
  }
  48%{
    transform: translateY(0px) translateX(-50%);
  }
  64%{
    transform: translateY(9px) translateX(-50%);
  }
  74%{
    transform: translateY(0px) translateX(-50%);
  }
  90%{
    transform: translateY(9px) translateX(-50%);
  }
}


/*Text*/

@keyframes nudgeText {
  0% {
    transform: translateY(0) translateX(-50%) scaleY(1);
    opacity:1;
  }
  22% {
    transform: translateY(0px) translateX(-50%)  scaleY(1);
    opacity:1;
  }
  38%{
    transform: translateY(5px) translateX(-50%) scaleY(0.9);
    opacity:0.5;
  }
  48%{
    transform: translateY(0px) translateX(-50%) scaleY(1);
    opacity:1;
  }
  64%{
    transform: translateY(5px) translateX(-50%) scaleY(0.9);
    opacity:0.5;
  }
  74%{
    transform: translateY(0px) translateX(-50%) scaleY(1);
    opacity:1;
  }
  90%{
    transform: translateY(5px) translateX(-50%) scaleY(0.9);
    opacity:0.5;
  }
}


/*Mouse wheel*/
@keyframes trackBallSlide {
  0% {
    transform:translateY(20px)
      scale(1);
    opacity:1;
  }
  22% {
    transform:translateY(20px)
      scale(1);
    opacity:1;
  }
  26%{
    transform:translateY(30px)
      scale(0.9);
    opacity:1;
  }
  34%{
    transform:translateY(55px)
      scale(0.1);
    opacity:0;
  }
  41%{
    transform:translateY(30px)
      scale(0);
    opacity:0.3;
  }
  48%{
    transform:translateY(20px)
      scale(1);
    opacity:1;
  }
  52%{
    transform:translateY(30px)
      scale(0.9);
    opacity:1;
  }
  60%{
    transform:translateY(55px)
      scale(0.1);
    opacity:0;
  }
  67%{
    transform:translateY(30px)
      scale(0);
    opacity:0.3;
  }
  74%{
    transform:translateY(20px)
      scale(1);
    opacity:1;
  }
  78%{
    transform:translateY(30px)
      scale(0.9);
    opacity:1;
  }
  86%{
    transform:translateY(55px)
      scale(0.1);
    opacity:0;
  }
  93%{
    transform:translateY(30px)
      scale(0);
    opacity:0.3;
  }
  100%{
    transform:translateY(20px)
      scale(1);
    opacity:1;
  }
}

.scrollToTop{
    width:60px; 
    height:60px;
    border-radius:4px;
    text-align:center; 
    background: rgba(0,0,0,0.25);
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    position:fixed;
    bottom:20px;
    right:20px;
    display:none;
    z-index:999999;
    position:fixed;
}
.scrollToTop i{
    line-height:60px;
    text-align:center;
    width:100%;
    font-size:24px;
}
.scrollToTop:hover{
    text-decoration:none;
}

@media (max-width:991px){
    .mouse-wrap{
        display:none;
    }
}


/* Gutenberg */

@media (min-width: 1200px) {
    #content.cl-layout-fullwidth .alignfull {
      width: 100vw;
      max-width: none;
      margin-left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  
  @media (min-width: 1200px) {
    #content.cl-layout-fullwidth .alignwide {
      margin-left: -20%;
      margin-right: -20%;
      max-width: none;
      width: auto;
    }
  }
  
  p.has-drop-cap:not(:focus):first-letter {
    font-size: 3.5em;
    font-weight: bold;
    line-height: 0.95;
  }
  
  .wp-block-separator {
    margin: 4em 0;
  }
  
  .wp-block-quote, blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    border-left: none !important;
    padding-left: 56px !important;
    position: relative;
    margin-top:80px;
    margin-bottom:80px;
  }
  .wp-block-quote:before, blockquote:before {
    position: absolute;
    content:"";
    z-index: 0;
    left: 0;
    background:url('img/format-quote-open.png') no-repeat center;
    top: 0;
    background-size:cover;
    width: 24px;
    height: 24px;
  }
  .wp-block-quote p, blockquote p {
    border-left: 1px solid #eee;
    padding-left: 140px;
    font-family: Butler;
    font-size: 20px !important;
    line-height: 32px !important;
    font-style: normal;
    font-weight: 400;
    color: #000;
  }
  .wp-block-quote cite {
    font-weight: 500;
    font-style: normal;
  }
  
  .wp-block-pullquote {
    margin-top: 3em !important;
    margin-bottom: 3em !important;
    border-top: 3px solid;
    border-bottom: 3px solid;
    padding:0px;
  }
  .wp-block-pullquote blockquote{
      border-left:0px;
      padding-left:0px;
  }
  
  .has-large-font-size {
    font-size: 20px;
  }
  
  .wp-block-embed.alignwide {
    position: relative;
  }
  .wp-block-embed.alignwide:before {
    content: "";
    padding-top: 56.25%;
    display: block;
  }
  .wp-block-embed.alignwide iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .wp-block-embed.alignfull {
    position: relative;
  }
  .wp-block-embed.alignfull:before {
    content: "";
    padding-top: 56.25%;
    display: block;
  }
  .wp-block-embed.alignfull iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .wp-block-pullquote__content p {
    font-weight: normal;
  }
  .wp-block-pullquote cite {
    font-style: normal;
    text-transform: uppercase;
    font-size: 13px;
  }
  
  .wp-block-pullquote blockquote{
    padding-bottom: 35px;
    padding-top: 35px;
  }
  .wp-block-pullquote p{
      margin-bottom:20px !important;
      margin-top:0px;
  }
  
  .wp-block-image.alignfull {
    margin-bottom: 1.4em;
  }
  .wp-block-image .alignright{
    margin-top:0 !important;
    padding-left:30px !important;
}

@media (max-width:767px){
    .wp-block-image .alignright{
        margin-left:0px !important;
        padding-left:0px !important;
        margin-bottom:10px;
    }
}

p:last-child img.alignright{
    margin-bottom:50px;
}

.wp-block-image:last-child .alignright{
    margin-bottom:50px !important;
}
  
  .wp-block-columns{
    width:100%;
  }
  
  .page-links{
    width:100%;
  }
  
  .wp-block-cover p{
    font-size:24px;
  }

  .swiper-button-prev{
      left:25px !important
  }
  .swiper-button-next{
    right:25px !important
  }


body.page-header-off.built-with-elementor .inner-content-row{
    padding-top:0;
    padding-bottom:0;
}

body.page-header-off.single-product .inner-content-row{
    padding-top:40px;
}

#blog-entries article{
    margin-bottom:72px;
}

#blog-entries article:last-child{
    margin-bottom:0px;
}

.entry-media .entry-gallery{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.entry-media .entry-gallery .gallery-item{
    width:25%;
    padding:10px;
}

article.format-audio .category-colored, article.format-video .category-colored, article.sticky .category-colored, article.format-standard:not(.has-post-thumbnail) .category-colored{
    display:none;
}

footer#colophon a:hover{
    color:var(--codeless-primary-color)
}
.ce-portfolio-grid-wrapper[data-filters="1"][data-filters-style="vertical"] .ce-filters button{
    transition:all 0.3s;
}
.ce-portfolio-grid-wrapper[data-filters="1"][data-filters-style="vertical"] .ce-filters button:hover{
    color:var(--codeless-primary-color)
}

.subscribe-dark-version h5{
    display:none;
}

.subscribe-dark-version .mc4wp-form-fields .circle,
.subscribe-dark-version .mc4wp-form-fields h6,
.subscribe-dark-version .mc4wp-form-fields p{
    display:none;
}
.subscribe-dark-version .mc4wp-form-fields{
    position:relative;
}
.subscribe-dark-version .mc4wp-form-fields input[type="email"]{
    background: rgba(255,255,255,0.1);
    height: 58px;
    padding-left:20px;
    padding-top:15px;
    padding-bottom:15px;
    color:#fff;
    width:100%
}
.subscribe-dark-version .mc4wp-form-fields:before{
    content: "\e924";
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    font-family: feather;
    position: absolute;
    right: 24px;
    top: 20px;
    transform: rotate(45deg);
}
.subscribe-dark-version .mc4wp-form-fields input[type="submit"]{
    position:absolute;
    right:15px;
    top:5px;
    background:transparent;
    color:transparent;
}

.subscribe-dark-version .mc4wp-form-fields input[type="email"]::placeholder,
.subscribe-dark-version .mc4wp-form-fields input[type="email"]::-webkit-input-placeholder{
    color:#fff;
}


.wpcf7 input:not([type="submit"]){
    width: 100%;
    height: 58px;
    background: #FFFFFF;
    border-radius: 4px;
    color:#000;
    padding-left:20px;
}

.wpcf7 input:not([type="submit"])::placeholder{
    opacity:0.5;
}
.wpcf7 label{
    font-size:14px;
    margin-bottom:8px;
    display:block;
}
.wpcf7 textarea{
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    height:166px;
    color:#000;
    padding-left:20px;
    padding-top:20px;
}

.wpcf7 input[type="submit"]{
    width:100%;
    height:58px;
    color:#fff;
    text-align:center;
    background:#000;
    
}
.page-id-3390{
    background:#FFF;
}
[data-elementor-id="3413"] .ce-menu-item{
    mix-blend-mode: difference;
}

@media (max-width:767px){
    .single-post .cl-post-header article h1{
        font-size:36px;
        line-height:48px;
    }
}

article.comment .post-meta .right-part a:hover span{
    color:#000;
}

article.comment .post-meta .right-part a:hover span path{
    fill:#000;
}

.wp-block-button{
    margin-bottom:20px;
}

.wp-block-button:last-child{
    margin-bottom:0px;
}

.wp-block-cover{
    color:#fff;
}

.blocks-gallery-grid .blocks-gallery-item figcaption{
    line-height:20px;
}

figure.wp-block-gallery{
    margin-top:0px;
}

.wp-block-column .wp-block-quote p{
    padding-left:10px;
}

.wp-block-column blockquote.wp-block-quote:first-child{
    margin-top:0px;
}

.wp-block-column ul:first-child{
    margin-top:0px !important;
}

.wp-block-column ol:first-child{
    margin-top:0px !important;
}

.single-post-data-container{
    clear:both;

}

.cl-header-default .menu-wrapper .menu>li{
    margin-right:8px !important;
}
@media (max-width:767px){
    .blog-entries .entry-footer .share-buttons{
        display:none;
    }
    .blog-entries .entry-footer .entry-readmore{
        margin:0 auto;
    }
    .cl-header-default .logo-wrapper a{
        display:flex;
    }
}

@media (max-width:991px){
    

    
    article.comment .post-meta .right-part time{
        display:none;
    }

    
}

@media(max-width:1199px){
    article.comment .child-comments{
        padding-left:20px !important;
    }
    article.comment .wp-block-quote p, article.comment blockquote p{
        padding-left:10px;
    }
    article.comment .child-comments:before{
        display:none;
    }
}


@media (max-width:991px){
    #respond.comment-respond .comment-form-author, #respond.comment-respond .comment-form-email{
        width:100% !important;
        padding-right:0px !important;
    }

    .wp-block-quote p, blockquote p{
        padding-left:20px;
    }
}

.cl-header-default .logo-wrapper img{
    max-height:18px;
}

@media(max-width:767px){
    article.default-style .entry-title{
        padding:0 15px !important;
    }
}

#wp-admin-bar-elementor_edit_page:hover > div { display: block !important; }