.elementor-12331 .elementor-element.elementor-element-5caad96{text-align:center;}.elementor-12331 .elementor-element.elementor-element-da5cb1d .elementor-text-editor{text-align:center;}.elementor-12331 .elementor-element.elementor-element-da5cb1d{font-family:"Proxima", Sans-serif;font-size:45px;font-weight:800;text-transform:uppercase;line-height:1em;letter-spacing:1.5px;}.elementor-12331 .elementor-element.elementor-element-da5cb1d > .elementor-widget-container{margin:20px 0px 0px 0px;}.elementor-12331 .elementor-element.elementor-element-c06f402 .elementor-text-editor{text-align:center;}.elementor-12331 .elementor-element.elementor-element-c06f402{font-family:"Proxima", Sans-serif;font-size:18px;font-weight:500;line-height:1.2em;letter-spacing:1.2px;}.elementor-12331 .elementor-element.elementor-element-c06f402 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-12331 .elementor-element.elementor-element-d186d5b > .elementor-widget-container{margin:0px 0px 15px 0px;}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Proxima';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://www.milivoja.com/wp-content/uploads/2021/11/AnyConv.com__Proxima-Nova-Font.ttf') format('truetype');
}
/* End Custom Fonts CSS */