<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.inner{
  margin-top: 20px !important;
}
.elementor-element-34e6c18{
  display: none !important;
}

@media (min-width:1281px){
  body.elementor-page-517 {
      padding: 0px 75px 0px 75px !important;
      /* padding: 75px; */
  }
  body.elementor-page-5048 {
      padding: 0px 75px 0px 75px;
  }
  body.elementor-page-5054 {
      padding: 0px 75px 0px 75px;
  }
  body.elementor-page-5060 {
      padding: 0px 75px 0px 75px;
  }
  body.elementor-page-5070 {
      padding: 0px 75px 0px 75px;
  }
  
}
@media (min-width:375px) and (max-width:768px){
  .ce-portfolio-item{
    padding: 0px !important;
  }
}

html, body{
overflow-x:hidden !important;}

</style>
<!-- end Simple Custom CSS and JS -->
