/** 
 *  ------------------------- FOOTER ----------------------------------------
 *  -------------------------------------------------------------------------
 */

 footer#colophon {
    position: relative;
    margin-top: 0px;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
  
    .widget-title {
      word-break: break-word;
      display: block;
      margin-bottom: 15px; 
      padding-bottom: 0;
    }
  
    .widget {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      padding-bottom: 35px;
      padding-top: 35px;
      display: block;
  
      &:first-child {
        padding-top: 0px;
  
        &:last-child {
          margin-bottom: 0px;
          border-bottom-width: 0px;
          padding: 0;
        }
      }
  
      &:last-child {
        padding-bottom: 0px;
        border-bottom-width: 0px;
      }
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          display: block;
          padding-top: 5px;
          padding-bottom: 5px;
  
          &:last-child {
            padding-bottom: 0;
          }
  
          a {
            position: relative;
            line-height: 20px;
          }
        }
      }
    }
  
    .wpcf7-form {
      input:not(.cl-btn), select {
        padding-left: 5px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 34px;
        width: 100%;
      }
    }
  
    .wpcf7-submit {
      margin-top: 10px;
    }
  
    input:focus {
      border-color: rgba(0, 0, 0, 0) !important;
    }
  
    .widget_categories ul li a, .widget_archive ul li a, .widget_pages ul li a {
      padding-left: 25px;
    }
  
    .widget_nav_menu {
      ul li a {
        padding-left: 25px;
      }
  
      .sub-menu {
        padding-left: 8px;
      }
    }
  
    .widget_pages .page_item_has_children .children {
      padding-left: 8px;
    }
  
    .widget_categories ul li a:before, .widget_archive ul li a:before, .widget_pages ul li a:before, .widget_nav_menu ul li a:before {
      font-family: 'feather';
      content: '\e844';
      line-height: 20px;
      position: absolute;
      left: 0px;
      top: 0;
      -webkit-transition: left .25s ease;
      -moz-transition: left .25s ease;
      transition: left .25s ease;
    }
  
    .widget_categories ul li a:hover:before, .widget_archive ul li a:hover:before, .widget_pages ul li a:hover:before, .widget_nav_menu ul li a:hover:before {
      left: 3px;
    }
  
    .widget_categories, .widget_archive {
      .screen-reader-text {
        display: none;
      }
  
      select {
        width: 100%;
        border-width: 1px;
        border-style: solid;
        height: 50px;
        padding-left: 18px;
  
        &:after {
          font-family: 'feather';
          content: '\e844';
          position: absolute;
          top: 0;
          right: 0;
          line-height: 50px;
        }
      }
  
      ul li .children {
        padding-left: 20px;
      }
    }
  
    .widget_search {
      .screen-reader-text {
        display: none;
      }
  
      form {
        position: relative;
      }
  
      input[type="search"] {
        width: 100%;
        height: 50px;
        border-width: 1px;
        border-style: solid;
        padding-left: 18px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-border-sizing: border-box;
      }
  
      i {
        position: absolute;
        right: 15px;
        top: 0;
        line-height: 50px;
      }
    }

    .widget_text{
        p{
            &:first-child{
                margin-top:0px;
            }
            &:last-child{
                margin-bottom:0px;
            }
        }
    }
  
    .widget_recent_entries .post-date {
      display: block;
      font-size: 12px;
      line-height: 18px;
    }
  
    .widget_calendar {
      table {
        width: 100%;
        margin: 0;
      }
  
      td {
        text-align: center;
      }
  
      caption {
        margin-bottom: 15px;
      }
  
      #prev {
        text-align: left !important;
        padding-top: 5px;
        padding-left: 10px;
      }
  
      #next {
        text-align: right !important;
        padding-top: 5px;
        padding-right: 10px;
      }
    }
  
    .widget_rss {
      .widget-title .rsswidget:last-child {
        padding-left: 10px;
      }
  
      li {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        display: block;
        position: relative;
  
        &:last-child {
          padding-bottom: 0px !important;
        }
      }
  
      .rss-date {
        display: block;
      }
  
      .rssSummary {
        padding-top: 10px;
        padding-bottom: 5px;
      }
    }
  
    .widget {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      padding-bottom: 35px;
      padding-top: 35px;
      max-width: 370px;
      display: block;
  
      &:first-child {
        padding-top: 0px;
  
        &:last-child {
          margin-bottom: 0px;
          border-bottom-width: 0px;
          padding: 0;
        }
      }
  
      &:last-child {
        padding-bottom: 0px;
        border-bottom-width: 0px;
      }
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          display: block;
          padding-top: 5px;
          padding-bottom: 5px;
  
          &:last-child {
            padding-bottom: 0;
          }
  
          a {
            position: relative;
            line-height: 20px;
          }
        }
      }
    }
  
    .center-column ul li {
      display: inline-block !important;
  
      a:before {
        display: none;
      }
    }
  
    .widget_categories ul li a, .widget_archive ul li a, .widget_pages ul li a, .widget_nav_menu ul li a {
      padding-left: 25px;
    }
  
    .widget_categories ul li a:before, .widget_archive ul li a:before, .widget_pages ul li a:before, .widget_nav_menu ul li a:before {
      font-family: 'feather';
      content: '\e844';
      line-height: 20px;
      position: absolute;
      left: 0px;
      top: 0;
      -webkit-transition: left .25s ease;
      -moz-transition: left .25s ease;
      transition: left .25s ease;
    }
  
    .widget_categories ul li a:hover:before, .widget_archive ul li a:hover:before, .widget_pages ul li a:hover:before {
      left: 3px;
    }
  
    .widget_nav_menu {
      ul li a:hover:before {
        left: 3px;
      }
  
      .codeless_custom_menu_mega_menu {
        display: none;
      }
    }

    .mc4wp-form{
        .circle{
          display:none;
        }
        h6{
          display:none;
        }
        p{
          display:none;
        }
        .mc4wp-form-fields{

          position:relative;
          text-align:center;
       
          input[type="email"]{
            background:#eee;
            height:64px;
            width:100%;
            color:#000;
            font-size:14px;
            text-align:center;
            border:none;
            box-shadow:none;
            @include placeholder{
              color:rgba(0,0,0,0.5);
            }
          }
          input[type="submit"]{
            background:#000;
            height:64px;
            width:100%;
            color:#fff;
            font-size:16px;
            text-align:center;
            border:none;
            box-shadow:none;
          }
        }
    }

    .elementor-text-editor{
      ul{
        list-style:none;
        margin:0px;
        padding:0;
        li{
          padding:4px 0px;
        }
      }
    }
  }
  
  @media (min-width: 768px) {
    footer#colophon .widget {
      max-width: 370px;
    }
  }
  
  /* Fix Widget Distance in Tablet and Mobile */
  
  @media (max-width: 767px) {
    footer#colophon .footer-widget {
      margin-bottom: 20px;
  
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  
 
  /* Fix Widget Distance in Tablet and Mobile */
  
  @media (max-width: 767px) {
    footer#colophon .footer-widget {
      margin-bottom: 20px;
  
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  
  #footer-wrapper.reveal {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 0;
  }
  
  .cl-layout-bordered {
    #footer-wrapper.reveal {
      bottom: 20px;
    }
  
    .container {
      max-width: 100%;
    }
  }
  
  .footer-widget.center-column {
    margin: 0 auto;
    width: 400px;
    float: none;
    text-align: center;
  }
  
  @media (max-width: 420px) {
    .footer-widget.center-column {
      max-width: 300px;
    }
  }
  
  /** 
   *  ------------------------- END FOOTER ------------------------------------
   *  -------------------------------------------------------------------------
   */
  /** 
   *  ------------------------- Copyright ------------------------------------
   *  -------------------------------------------------------------------------
   */
  
  #copyright {
    position: relative;
    margin-top: 0px;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    font-size:16px;
    line-height:26px;
  
    .widget-title {
      word-break: break-word;
      display: none;
      margin-bottom: 15px;
      padding-bottom: 0;
    }
  
    .widget {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      padding-top: 10px;
      padding-bottom: 10px;
      display: block;
      width: 100%;
  
      &:first-child {
        padding-top: 0px;
  
        &:last-child {
          margin-bottom: 0px;
          border-bottom-width: 0px;
          padding: 0;
        }
      }
  
      &:last-child {
        padding-bottom: 0px;
        border-bottom-width: 0px;
      }
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          display: inline-block;
          padding-left: 0px;
          padding-right: 0px;
  
          &:last-child {
            padding-bottom: 0;
          }
  
          a {
            position: relative;
            line-height: 20px;
          }
        }
      }
    }
  
    .widget_categories ul li a, .widget_archive ul li a, .widget_pages ul li a, .widget_nav_menu ul li a {
      padding-left: 15px;
    }
  
    .widget_categories {
      .screen-reader-text {
        display: none;
      }
  
      select {
        width: auto;
        border-width: 1px;
        border-style: solid;
        height: 50px;
        padding-left: 18px;
        padding-right: 18px;
  
        &:after {
          font-family: 'feather';
          content: '\e844';
          position: absolute;
          top: 0;
          right: 0;
          line-height: 50px;
        }
      }
  
      ul li .children {
        padding-left: 20px;
      }
    }
  
    .widget_archive {
      .screen-reader-text {
        display: none;
      }
  
      select {
        width: 100%;
        border-width: 1px;
        border-style: solid;
        height: 50px;
        padding-left: 18px;
  
        &:after {
          font-family: 'feather';
          content: '\e844';
          position: absolute;
          top: 0;
          right: 0;
          line-height: 50px;
        }
      }
  
      ul li .children {
        padding-left: 20px;
      }
    }
  
    .widget_search {
      .screen-reader-text {
        display: none;
      }
  
      form {
        position: relative;
      }
  
      input[type="search"] {
        width: 70%;
        height: 50px;
        border-width: 1px;
        border-style: solid;
        padding-left: 18px;
        padding-right: 64px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-border-sizing: border-box;
      }
  
      i {
        position: absolute;
        right: 15px;
        top: 0;
        line-height: 50px;
      }
    }
  
    .widget_recent_entries {
      .post-date {
        display: block;
        font-size: 12px;
        line-height: 18px;
      }
  
      li {
        padding-left: 10px !important;
        padding-right: 10px !important;
  
        &:last-child {
          padding-right: 0 !important;
        }
  
        &:first-child {
          padding-left: 0 !important;
        }
      }
    }
  
    .widget_calendar {
      table {
        width: 100%;
        margin: 0;
      }
  
      td {
        text-align: center;
      }
  
      caption {
        margin-bottom: 15px;
      }
  
      #prev {
        text-align: left !important;
        padding-top: 5px;
        padding-left: 10px;
      }
  
      #next {
        text-align: right !important;
        padding-top: 5px;
        padding-right: 10px;
      }
    }
  
    .widget_rss {
      .widget-title .rsswidget:last-child {
        padding-left: 10px;
      }
  
      li {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        display: block;
        position: relative;
  
        &:last-child {
          padding-bottom: 0px !important;
        }
      }
  
      .rss-date {
        display: block;
      }
  
      .rssSummary {
        padding-top: 10px;
        padding-bottom: 5px;
      }
    }
  
    .widget_nav_menu {
      .codeless_custom_menu_mega_menu, .sub-menu {
        display: none;
      }
    }
  
    .widget ul li:first-child a {
      padding-left: 0;
    }
  
    input:focus {
      border-color: rgba(0, 0, 0, 0) !important;
    }
  }
  
  @media (min-width: 768px) {
    #copyright {
      .copyright-widget:last-child .widget {
        float: right;
        text-align: right;
  
        ul {
          float: right;
        }
      }
  
      .copyright-content-row {
        display: -webkit-flex;
        display: -webkit-box;
        display: -moz-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
      }
  
      .copyright-widget {
        display: -webkit-flex;
        display: -webkit-box;
        display: -moz-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        flex-flow: row wrap;
      }
    }
  }
  
  /* Fix Widget Distance in Tablet and Mobile */
  
  @media (max-width: 767px) {
    #copyright .copyright-widget {
      margin-bottom: 20px;
  
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }


.transparent-footer{
 
  @include md{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    z-index:999;
  
    footer#colophon{
        padding-top:40px;
        background-color:transparent !important;
        @include md{
          padding-top:0px;
        }
      
      
      .footer-widget:last-child{
        display:flex;
        justify-content:flex-end;
      }

      .footer-content-row{
        display: flex;
        align-items: center;
      }

      .widget{
        ul{
          li{
            display:inline-block;
            a{
              padding-left:40px;
              &:before{
                display:none;
              }
            }
            &:first-child a{
              padding-left:0px;
            }
          }
        }
      }
    }
  }

  
}