/* Custom Widgets */
/* Twitter */

.widget_twitter li {
    display: flex !important;
  
    i {
      font-size: 16px;
      line-height: 28px;
    }
  
    .media {
      max-width: 76px;
    }
  
    .content {
      padding-left: 20px;
  
      .date {
        display: block;
      }
    }
  }
  
  /* Flickr */
  
  .widget_flickr .flickr_container {
    display: flex;
    flex-flow: row wrap;
  
    .flickr_badge_image {
      padding: 5px;
      width: 33%;
    }
  }
  
  /* Most Popular */
  
  .widget_most_popular li {
    display: flex !important;
  
    i {
      font-size: 16px;
      line-height: 28px;
    }
  
    .media {
      width: 76px;
  
      img {
        width: 100%;
        max-width: none;
      }
    }
  
    .content {
      padding-left: 12px;
      width: 100%;
  
      .date {
        display: block;
      }
    }
  }
  
  /* End Most Popular */
  
  /* Social-Icons Widget */
  
  .social_widget .social-icons-widget {
    li {

    }
  
    &.circle li {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      width: 36px;
      height: 36px;
      padding: 0 !important;
      line-height: 36px;
      text-align: center;
      background-color: #fff;
  
      a {
        line-height: 36px !important;
        float: left;
        width: 100%;
        height: 100%;
      }
    }
  }
  
  /* End Social-icons Widget */
  /* End Custom Widgets */


  .tagcloud{
    a{
      padding:5px 10px;
      text-transform: uppercase;
      font-size:12px !important;
      line-height:20px;
      font-weight:500 !important;
      letter-spacing: 0.2em;
      color:#222;
      display:inline-block;
      margin-right:2px;
      margin-bottom:5px;
    }
  }

  


  